@model MbmStore.Models.Movie

<div class="row">
    <div class="col-md-3">
        <img src="~/Content/Images/@Model.ImageUrl" alt="@Model.Title" />
    </div>

    <div class="col-md-7">
        <p><span>Title: </span>@Model.Title @Model.ProductId</p>
        <p><span>Director: </span>@Model.Director</p>
        <p><span>Price: </span>@String.Format("{0:00.00}", Model.Price)</p>
    </div>
    <div class="col-md-2">
        @using (Html.BeginForm("AddToCart", "Cart"))
            {
            @Html.Hidden("ProductId", Model.ProductId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        }
    </div>

</div>